[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
passlib = {extras = ["bcrypt"], version = "*"}
django = "*"
python-dotenv = "*"
psycopg2-binary = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}
celery = "*"
redis = "*"
drf-spectacular = "*"
requests = "*"

[dev-packages]
pytest = "*"
pylint = "*"
"flake8" = "*"
isort = "*"
black = "*"
bandit = "*"
mypy = "*"
types-PyYAML = "*"
django-stubs = "*"
djangorestframework-stubs = {extras = ["compatible-mypy"], version = "*"}

[requires]
python_version = "3.10"
