{% extends 'base.html' %}

{% block page_title %}Certificate: {{ certificate.csr.name }}{% endblock page_title %}

{% block content %}
<div class="row">

    <div class="col-4 offset-1">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-info-circle"></i>&nbsp;
                     Information
                </h3>
            </div>
            <div class="card-body">
                <p>Key: <strong><a href="{% url 'x509:key_detail' key_id=certificate.csr.key.id %}">link</a></strong></p>
                <p>CSR: <strong><a href="{% url 'x509:csr_detail' csr_id=certificate.csr.id %}">link</a></strong></strong></p>
                <p>CA: <strong>{{ certificate.csr.ca }}</strong></p>
                {% if certificate.csr.ca %}
                <p>Path length: <strong>{{ certificate.csr.path_length }}</strong></p>
                {% endif %}
                <p>
                    {% comment %} Params: {% endcomment %}
                    <blockquote>
                        {% for k, v in certificate.csr.params.items %}
                        {{ k }}: <strong>{{ v }}</strong><br>
                        {% endfor %}
                    </blockquote>
                </p>
                <p>Created: <strong>{{ certificate.created_at }}</strong></p>
            </div>
        </div>
    </div>

    <div class="col-5">
        <div class="card card-default">
            <div class="card-header">
                {% if not csr.signed %}
                <div class="card-tools">
                    <a href="{% url 'x509:certificate_revoke' certificate_id=certificate.id %}" class="btn btn-sm btn-danger">
                        <i class="fas fa-trash"></i> Revoke
                    </a>
                </div>
                {% endif %}
            </div>
            <div class="card-body">
                <div class="callout callout-success">
                    <h5>Body</h5>
                    <div class="form-group">
                        <textarea class="form-control" rows="14">{{ certificate.body }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
