{% extends 'base.html' %}

{% block page_title %}Certificates{% endblock page_title %}

{% block content %}
<div class="card card-default col-8 offset-2">
    <div class="card-header">
        <div class="card-tools">
            <a href="{% url 'x509:certificate_new' %}" class="btn btn-success">
                <i class="fas fa-plus"></i> Add
            </a>
        </div>
    </div>
    <div class="card-body">
        {% if certificates_list %}
        <div class="row">
            <div class="col col-12">
                <table class="table table-hover table-borderless">
                <thead class="thead-dark">
                    <tr>
                    <th style="width: 10px">Revoked</th>
                    <th>Internal name</th>
                    <th>Created</th>
                    <th>Subject</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cert in certificates_list %}
                    <tr>
                    <td>
                        {% if cert.revoked %}
                        <i class="far fa-check-square"></i>
                        {% else %}
                        <i class="far fa-square"></i>
                        {% endif %}
                    </td>
                    <td>
                        <strong>
                            <a href="{% url 'x509:certificate_detail' cert.id %}">{{ cert.csr.name }}</a>
                        </strong>
                    </td>
                    <td>{{ cert.created_at }}</td>
                    <td>{{ cert.subject }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
        {% else %}
            <p>No Certificates</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
