{% extends 'base.html' %}

{% block page_title %}Revoke {{ certificate.name }}{% endblock page_title %}

{% block content %}
<div class="card card-default col-3 offset-4">
    <div class="card-body">
        {% if error %}
        <p class="text-danger">{{ error }}</p>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Reason</label>
                <select class="form-control" name="revocation_reason">
                    {% for reason in reason_options %}
                    <option value="{{ reason.0 }}">
                        {{ reason.1 }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-success">Revoke</button>
        </form>
    </div>
</div>
{% endblock content %}
