{% extends 'base.html' %}

{% block page_title %}Add Certificate Sign Request{% endblock page_title %}

{% block content %}
<div class="card card-default col-6 offset-3">
    <div class="card-body">
        {% if error %}
        <p class="text-danger">{{ error }}</p>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="name">Internal name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="name"
                            placeholder="Name"
                            name="name"
                            value="{{ name }}"
                        >
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Key</label>
                        <select class="form-control" name="key">
                            <option value="0">Create new key</option>
                            {% for key in available_keys %}
                            <option value="{{ key.id }}">
                                {{ key.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="commonName">Common name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="commonName"
                            placeholder="Common name"
                            name="commonName"
                            value="{{ params.commonName }}"
                        >
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="path_length">Path length</label>
                        <input
                            type="text"
                            class="form-control"
                            id="path_length"
                            placeholder="1"
                            name="path_length"
                            value="{{ path_length }}"
                        >
                    </div>
                    <div class="form-check">
                        <input
                            type="checkbox"
                            class="form-check-input"
                            id="ca"
                            name="ca"
                            {% if ca %}checked{% endif %}
                        >
                        <label class="form-check-label" for="ca">Is CA</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="CRLDistributionPoints">CRL Distribution points</label>
                        <input
                            type="text"
                            class="form-control"
                            id="CRLDistributionPoints"
                            placeholder="https://crl.example.com/ca.crl"
                            name="CRLDistributionPoints"
                            value="{{ params.CRLDistributionPoints }}"
                        >
                    </div>
                    <div class="form-group">
                        <label for="CRLDistributionPoints">Authority Information Access (OCSP)</label>
                        <input
                            type="text"
                            class="form-control"
                            id="AuthorityInformationAccess"
                            placeholder="https://ocsp.example.com/ca"
                            name="AuthorityInformationAccess"
                            value="{{ params.AuthorityInformationAccess }}"
                        >
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="countryName">Country name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="countryName"
                            placeholder="RU"
                            name="countryName"
                            value="{{ params.countryName }}"
                        >
                    </div>
                    <div class="form-group">
                        <label for="stateOrProvinceName">State or Province name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="stateOrProvinceName"
                            placeholder="North-West region"
                            name="stateOrProvinceName"
                            value="{{ params.stateOrProvinceName }}"
                        >
                    </div>
                    <div class="form-group">
                        <label for="localityName">Locality name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="localityName"
                            placeholder="Saint-Petersburg"
                            name="localityName"
                            value="{{ params.localityName }}"
                        >
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="organizationName">Organization name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="organizationName"
                            placeholder="Sunflower Inc."
                            name="organizationName"
                            value="{{ params.organizationName }}"
                        >
                    </div>
                    <div class="form-group">
                        <label for="organizationUnitName">Organization Unit name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="organizationUnitName"
                            placeholder="IT"
                            name="organizationUnitName"
                            value="{{ params.organizationUnitName }}"
                        >
                    </div>
                </div>
            </div>
            <div class="row col-12">
                <div class="form-check">
                    <input
                        type="checkbox"
                        class="form-check-input"
                        id="issuerDN"
                        name="issuerDN"
                        {% if params.issuerDN %}checked{% endif %}
                    >
                    <label class="form-check-label" for="issuerDN">Take DN from issuer</label>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label for="emailAddress">E-Mail</label>
                        <input
                            type="text"
                            class="form-control"
                            id="emailAddress"
                            placeholder="j.doe@example.com"
                            name="emailAddress"
                            value="{{ params.emailAddress }}"
                        >
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="givenName">Given name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="givenName"
                            placeholder="John"
                            name="givenName"
                            value="{{ params.givenName }}"
                        >
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="surname">Surname</label>
                        <input
                            type="text"
                            class="form-control"
                            id="surname"
                            placeholder="Doe"
                            name="surname"
                            value="{{ params.surname }}"
                        >
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="days">Days</label>
                        <input
                            type="text"
                            class="form-control"
                            id="days"
                            placeholder="365"
                            name="days"
                            value="{{ params.days }}"
                        >
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </div>
</div>
{% endblock content %}
