<li class="nav-header">X509</li>
<li class="nav-item">
    <a href="{% url 'x509:keys_list' %}" class="nav-link">
        <i class="nav-icon fas fa-key"></i>
        <p>
            Keys
        {% comment %} <span class="badge badge-info right">2</span> {% endcomment %}
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'x509:csrs_list' %}" class="nav-link">
        <i class="nav-icon fas fa-file-contract"></i>
        <p>CSR</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'x509:certificates_list' %}" class="nav-link">
        <i class="nav-icon fas fa-certificate"></i>
        <p>Certificates</p>
    </a>
</li>

<li class="nav-header">VPN</li>
<li class="nav-item">
    <a href="" class="nav-link">
        <i class="nav-icon fas fa-file"></i>
        <p>
            Templates
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="" class="nav-link">
        <i class="nav-icon fas fa-users"></i>
        <p>Users</p>
    </a>
</li>
